<%- include('includes/header') %>

<div class="box content">
    <h1><center>Done!</center></h1>
    <p>
        <a href="http://localhost:3000/<%= result.short_link %>" class="link">http://localhost:3000/<%= result.short_link %></a>
    </p>
</div>

<%- include('includes/footer') %>