<%- include('includes/header') %>
<div class="box content">
    <h1><center>Error</center></h1>
    <h2 class="error"><%= message %></h2>
    <center><a href="/">Home page</a></center>
</div>

<%- include('includes/footer') %>